APP_ENV=development
SUPABASE_URL=https://cvyidqbjjkfzoxykkbea.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
APNS_KEY_ID=
APNS_TEAM_ID=98JU6VDJZU
APNS_BUNDLE_ID=app.bellwire
APNS_PRIVATE_KEY=
APNS_ENVIRONMENT=sandbox
